body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 85%;
    line-height: 100%;
    color: #e3e3e3;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    background-color: white;
}

.logo {
    margin: auto;
    background: url("../images/logo.png") no-repeat;
    margin-left: 190px;
    width: 173px;
    height: 29px;
}

nav {
    margin: auto auto auto -350px;
}

nav a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 1em;
    padding: 0px 8px 0;
    display: inline-block;
    font-size: 80%;
    font-family: 'Montserrat';
}

nav a:hover {
    cursor: pointer;
    color: #5a5959;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    text-align: center;
    background-image: url("../images/bg-1.png");
}

.section-home h1 {
    color: #fff;
    font-size: 4em;
    line-height: 1.8em;
    margin: 0;
    text-align: center;
    font-family: 'Amsdam';
    font-weight: 100;
    padding-bottom: 30px; 
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
}
  
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="button"] {
    background: none;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 42px;
    margin-right: 15px;
}

input[type="button"]:hover {
    background: rgba(225, 225, 225, 0.3);
    border: 1px solid white;
    cursor: pointer;
}

.section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1100px;
    text-align: center;
}

.section-about article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 70%;
    height: 755px;
    margin: 75px auto auto auto;
}

.section-about .image {
    background: url("../images/about_image.png") no-repeat;
    height: 325px;
    width: 100%;
}

h1 {
    color: #3e3d3d;
    font-size: 1.8em;
    margin: 70px auto;
    text-align: center;
    font-weight: 100;
    font-family: 'Amsdam';
}

p {
    width: 85%;
    text-align: center;
    line-height: 200%;
    margin: 0 auto;
    font-family: 'Crimson';
}

.section-about p {
    color: #3e3d3d;
}

[class^="btn-group"] input[type="button"] {
    border: 2px solid #3e3d3d;
    color: #3e3d3d;
    width: 130px;
    height: 40px;
    margin: 40px auto;
}

[class^="btn-group"] input[type="button"]:hover {
    cursor: pointer;
    background: #3e3d3d;
    color: white;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #3e3d3d;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 60px;
    width: 1170px;
    line-height: 35px;
}

.results ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-right: 1px solid #b0b0b0;
}

.results li {
    font-weight: bolder;
    line-height: 20px;
    list-style-type: none;
    min-width: 272px;
    margin-bottom: 25px;
}

.results ul:last-child {
    border-right: none;
}

.results li:last-child {
    line-height: 25px;
    font-size: 47px;
    margin-bottom: 0px;
}

.results .icon_1 {
    background: url("../images/icon1.png") no-repeat center;
    width: 38px;
    flex-basis: 41px;
}

.results .icon_2 {
    background: url("../images/icon2.png") no-repeat center;
    width: 41px;
    height: 40px;
}

.results .icon_3 {
    background: url("../images/icon3.png") no-repeat center;
    width: 33px;
    height: 39px;
}

.results .icon_4 {
    background: url("../images/icon4.png") no-repeat center;
    width: 41px;
    height: 37px;
}

.section-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 742px;
    text-align: center;
    background-image: url("../images/bg-services.png");
}

.section-services h1 {
    color: #e3e3e3; 
}

.section-services p {
    color: #e3e3e3; 
}

.services_boxes {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.services_boxes article {
    width: 270px;
    border: 2px solid #e3e3e3;
    margin-right: 35px;
}

.services_boxes article:last-child {
    margin-right: 0px;
}

.services_boxes h1 {
    line-height: 150%;
    font-size: 1.1em;
    margin: 40px auto;
}

.services_boxes p {
    width: 200px;
    margin-bottom: 30px;
}

.section-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1490px;
    background-color: #ededed;
}

.section-history p {
    color: #3e3d3d;
}

.common_diagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1170px;
    margin: 45px auto;
    color: #3e3d3d;
}

.diagram_1 {
    border-right: 2px solid #3e3d3d;
    padding: 26px;
    max-width: 530px;
}

.diagram_1 div[class^="paragraph-"] {
    border: 2px solid #3e3d3d;
    padding: 0px 60px 35px 25px;
    flex-wrap: wrap;
    cursor: pointer;
}

.diagram_2 div[class^="paragraph-"] {
    border: 2px solid #3e3d3d;
    padding: 0px 35px 25px 60px;
    flex-wrap: wrap;
    cursor: pointer;
}

.diagram_1 div[class^="paragraph-"]:hover,
.diagram_1 div[class^="paragraph-"] .black:hover,
.diagram_2 div[class^="paragraph-"] p:hover {
    color: #e4e4e4;
    background-color: #3e3d3d;
}

.diagram_2 div[class^="paragraph-"]:hover {
    color: #e4e4e4;
    background-color: #3e3d3d;
}

.diagram_1 .paragraph-1 {
    margin-bottom: 30px;
}

[class^="paragraph-"] h2 {
    text-transform: uppercase;
    margin-top: 30px;
}

[class^="paragraph-"] h3 {
    font-size: 0.8em;
    margin-bottom: 25px;
}

[class^="paragraph-"] .black {
    width: 100%;
    text-align: left;
    font-size: smaller;
    line-height: 200%;
}

.diagram_1 .paragraph-2 {
    margin-bottom: 270px;
}
 
.diagram_2 {
    padding: 26px;
    max-width: 530px;
}

.diagram_2 .paragraph-1 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.diagram_2 .paragraph-2 {
    margin-bottom: 220px;
}

.section-team {
    height: 666px;
    background-image: url("../images/bg-team.png");
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 870px;
    margin: 60px auto 70px;
}

.team-members div {
    width: 271px;
    height: 338px;
}

.section-team p {
    color: #3e3d3d;
}

[class^="poster_"] dl {
    display: none;
}

.team-members [class^="poster_"]:hover {
    display: inline-block;
    cursor: pointer;
    width: 256px;
    height: 320px;
    background: rgba(237, 237, 237, 0.7);
    margin: 9px 8px;
    color: #2d2d2f;
}

.photo_1 {
    background-image: url("../images/member-1.png");
}

.photo_2 {
    background-image: url("../images/member-2.png");
}

.photo_3 {
    background-image: url("../images/member-3.png");
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1045px;
}

.section-portfolio p {
    color: #3e3d3d;
}

.btn-group-2 input[type="button"] {
    height: 30px;
    width: auto;
    padding: 0 20px;
}

.examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 687px;
    width: 100%;
    background-color: #222222;
}

[class^="column-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[class^="example_"] {
    width: 399px;
}

.example_1 {
    background-image: url("../images/p-1.png");
    height: 437px;
}

.example_2 {
    background-image: url("../images/p-2.png");
    height: 271px;
}

.example_3 {
    background-image: url("../images/p-3.png");
    height: 422px;
}

.example_4 {
    background-image: url("../images/p-4.png");
    height: 385px;
}

.example_5 {
    background-image: url("../images/p-5.png");
    height: 277px;
}

.example_6 {
    background-image: url("../images/p-6.png");
    height: 459px;
}

.example_7 {
    background-image: url("../images/p-7.png");
    height: 436px;
}

.example_8 {
    background-image: url("../images/p-8.png");
    height: 252px;
}

.section-prices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 920px;
}

.section-prices p {
    color: #3e3d3d;
}

.price-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.price-cards article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 370px;
    height: 550px;
    color: #3e3d3d;
    text-align: center;
}

.price-cards div {
    width: 232px;
    height: 50px;
    margin: 25px auto;
}

h2 {
    font-size: 1.1em;
    font-family: 'Monserrat';
}

.price-cards .element_1 {
    background-image: url("../images/element_1.png");
}

.price-cards .element_2 {
    background-image: url("../images/element_2.png");
}

.price-cards .element_3 {
    background-image: url("../images/element_3.png");
}

sup {
    font-size: 50%; 
}

strong {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 140px;
    text-align: left;
}

.price-cards input[type="button"] {
    border: 2px solid #3e3d3d;
    color: #3e3d3d;
    width: 130px;
    height: 40px;
    margin: 40px auto;
}

.price-cards input[type="button"]:hover {
    cursor: pointer;
    background: #3e3d3d;
    color: white;
}

i {
    text-align: center;
    white-space: pre-line;
    line-height: 250%;
    font-size: 80%;
}

.looking-for-a-quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 175px;
    background-color: #2d2d2f;
    color: #979797;
}

.compass {
    background-image: url("../images/compass-2.png");
    width: 109px;
    height: 104px;
}

.column {
    width: 720px;
    padding-left: 60px;
}

.column h2 {
    font-size: 1.2em;
    padding-bottom: 15px;
}

.column p {
    text-align: left;
    color: #979797;
    line-height: 150%;
    margin: 0 auto 0 0;
}


input[name="button-purchase"] {
    background: none;
    color: #979797;
    border: 2px solid #979797;
    width: 132px;
    height: 35px;
    margin-right: 15px;
}

.section-blog {
    height: 1114px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-blog p {
    padding-bottom: 80px;
    color: #3e3d3d;
}

.bg_gallery {
    background-color: #2d2d2f;
    height: 822px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 822px;
    width: 1600px;
}

.gallery div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 411px;
    margin: 0 auto;
}

.gallery .img_1 {
    background-image: url("../images/img_1.png");
}

.gallery .img_2 {
    background-image: url("../images/img_2.png");
}

.gallery .img_3 {
    background-image: url("../images/img_3.png");
}

.gallery .img_4 {
    background-image: url("../images/img_4.png");
}

div[class^="text_"] p {
    color: #949494;
    text-align: left;
    width: 316px;
    font-size: 85%;
    padding: 15px 35px;
    margin: 0;
}

div[class^="text_"] i {
    color: #e3e3e3;
    text-align: left;
    font-size: 85%;
    padding: 45px 35px 20px 35px;
}

div[class^="text_"] h3 {
    color: #e3e3e3;
    text-align: left;
    padding: 0 35px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.gallery .text_1,
.gallery .text_4 {
    background-color: #2d2d2f;
}

.gallery .text_2 {
    background-color: #555557;
}

.gallery .text_3 {
    background-color: #555557;
}

.section-clients {
    height: 522px;
    background-color: #fff;
}

.section-clients p { 
    color: #3e3d3d;
}

.partners {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px auto;
}

.partners .img_1 {
    background-image: url("../images/mg1.png");
    width: 133px;
    height: 102px;
}

.partners .img_2 {
    background-image: url("../images/mg2.png");
    width: 137px;
    height: 90px;
}

.partners .img_3 {
    background-image: url("../images/mg3.png");
    width: 136px;
    height: 109px;
}

.partners .img_4 {
    background-image: url("../images/mg4.png");
    width: 116px;
    height: 116px;
}

.partners .img_5 {
    background-image: url("../images/mg5.png");
    width: 129px;
    height: 110px;
}

.section-testmon {
    background-image: url("../images/bg-testmon.png");
    height: 524px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.autor {
    background-image: url("../images/autor.png");
    width: 105px;
    height: 106px;
    margin: auto;
}

.section-testmon p {
    width: 1170px;
    color: #efefef;
    font-size: 120%;
    font-style: italic;
    margin-top: 50px;
}

.section-testmon p span {    font-size: 120%;
    font-style: italic;
    font-size: 200%;
}

.section-testmon h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 120%;
}

.section-testmon div {
    color: #efefef;
    font-size: 80%;
    text-align: center;
    font-style: italic;
}

.section-map {
    background-color: #ebebeb;
    height: 515px;
    width: 100%;
}

.map {
    background-image: url("../images/map.png");
    height: 515px;
    width: 1600px;
    margin: 0 auto;
}

footer {
    background-image: url("../images/footer.png");
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer article {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article .texts {
    flex-grow: 1;
    width: 400px;
    margin-right: 35px;
}

.texts .logo-2 {
    background-image: url("../images/logo-2.png");
    width: 173px;
    height: 29px;
    margin-top: 50px;
}

.texts p {
    width: 100%;
    font-size: 85%; 
    margin: 0;
    margin-top: 30px;
    color: #8e8e8e;
    text-align: left;
}

.texts h3 {
    font-size: 100%; 
    margin: 0;
    margin: 40px 0;
    color: #949494;
    text-align: left;
    font-weight: 550;
    color: #e3e3e3;
    line-height: 150%;
    text-transform: uppercase;
}

article .forms {
    flex-grow: 2;
    max-width: 773px;
}

.reservation-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 115px;
}

.reservation-form input {
    display: block;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 25px;
    font-size: 1em;
    font-style: italic;
    background: none;
    color: #8e8e8e;
    border: 1px solid #464646;
    width: 45%;
}

.reservation-form input:nth-child(odd) {
    margin-right: 30px;
}

.reservation-form input:last-child {
    background-color: #464646;
    width: 160px;
    height: 40px;
    border: 1px solid #464646;
    margin-top: 25px;
    font-style: normal;
    font-weight: 550;
    color: #e3e3e3;
    text-align: center;
    padding-left: 0px;
    cursor: pointer;
}

.reservation-form textarea {
    display: block;
    height: 50px;
    padding-left: 20px;
    font-size: 1em;
    font-style: italic;
    background: none;
    color: #8e8e8e;
    border: 1px solid #464646;
    width: 100%;
    height: 95px;
    line-height: 30px;
    font-size: 130%;
}

footer .site-caption {
    color: #8e8e8e;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    align-items: flex-start;
    font-weight: 700;
    font-size: 120%;
    height: 75px;
}