body {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-size: 85%;
    line-height: 100%;
    color: #e3e3e3;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    background-color: white;
}

.logo {
    margin: auto;
    background: url("../images/logo.png") no-repeat;
    margin-left: 190px;
    width: 173px;
    height: 29px;
}

nav {
    margin: auto auto auto -350px;
}

nav a {
    color: #b7b7b7;
    text-decoration: none;
    font-size: 1em;
    padding: 0px 8px 0;
    display: inline-block;
    font-size: 80%;
}

nav a:hover {
    cursor: pointer;
    color: #5a5959;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    text-align: center;
    background-image: url("../images/bg-1.png");
}

.section-home h1 {
    color: #fff;
    font-size: 4em;
    line-height: 1.8em;
    margin: 0;
    text-align: center;
    font-family: 'Yeseva One';
    font-weight: 100;
    padding-bottom: 30px; 
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
}

/* .wavy { 
    text-decoration-line: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: white;
} */
  
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="button"] {
    background: none;
    color: white;
    border: 2px solid white;
    width: 150px;
    height: 42px;
    margin-right: 15px;
}

input[type="button"]:hover {
    background: rgba(225, 225, 225, 0.3);
    border: 1px solid white;
    cursor: pointer;
}

.section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1100px;
    text-align: center;
}

.section-about article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 1170px;
    height: 755px;
    margin: 75px auto auto auto;
}

.section-about .image {
    background-image: url("../images/about_image.png");
    height: 325px;
    margin-top: 0 auto;
}

h1 {
    color: #3e3d3d;
    font-size: 1.8em;
    margin: 70px auto;
    text-align: center;
    font-weight: 100;
}

p {
    width: 1025px;
    color: #3e3d3d;
    text-align: center;
    line-height: 200%;
    margin: 0 auto;
}

[class^="btn-group"] input[type="button"] {
    border: 2px solid #3e3d3d;
    color: #3e3d3d;
    width: 130px;
    height: 40px;
    margin: 40px auto;
}

[class^="btn-group"] input[type="button"]:hover {
    cursor: pointer;
    background: #3e3d3d;
    color: white;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #3e3d3d;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 60px;
    width: 1170px;
    line-height: 35px;
}

.results ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-right: 1px solid #b0b0b0;
}

.results li {
    margin-bottom: 25px;
    font-weight: bolder;
    line-height: 20px;
    list-style-type: none;
    min-width: 272px;
}

.results ul:last-child {
    border-right: none;
}

.results li:last-child {
    line-height: 80px;
    font-size: 47px;
}

.results .icon_1 {
    background: url("../images/icon1.png") no-repeat;
    width: 38px;
    flex-basis: 41px;
}

.results .icon_2 {
    background: url("../images/icon2.png") no-repeat;
    width: 41px;
    height: 40px;
}

.results .icon_3 {
    background: url("../images/icon3.png") no-repeat;
    width: 33px;
    height: 39px;
}

.results .icon_4 {
    background: url("../images/icon4.png") no-repeat;
    width: 41px;
    height: 37px;
}

.section-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 742px;
    text-align: center;
    background-image: url("../images/bg-services.png");
}

.section-services h1 {
    color: #e3e3e3; 
}

.section-services p {
    color: #e3e3e3; 
}

.services_boxes {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.services_boxes article {
    width: 270px;
    border: 2px solid #e3e3e3;
    margin-right: 35px;
}

.services_boxes article:last-child {
    margin-right: 0px;
}

.services_boxes h1 {
    line-height: 150%;
    font-size: 1.1em;
    margin: 40px auto;
}

.services_boxes p {
    width: 200px;
    margin-bottom: 30px;
}

.section-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1490px;
    background-color: #ededed;
}

.common_diagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1170px;
    margin: 45px auto;
    color: #3e3d3d;
}

.diagram_1 {
    border: 1px solid #3e3d3d;
    padding: 26px;
    max-width: 530px;
}

div[class^="paragraph-"] {
    border: 1px solid #3e3d3d;
    padding: 30px 60px 35px 25px;
    flex-wrap: wrap;
}

.diagram_1 .paragraph-1 {
    margin-bottom: 30px;
}

[class^="paragraph-"] h2 {
    text-transform: uppercase;
}

[class^="paragraph-"] h3 {
    font-size: 0.9em;
}

[class^="paragraph-"] p {
    white-space: pre-line;
    text-align: left;
    font-size: smaller;
}

.diagram_1 .paragraph-2 {
    margin-bottom: 270px;
}
 
.diagram_2 {
    border: 1px solid #3e3d3d;
    padding: 26px;
    max-width: 530px;
}

.diagram_2 .paragraph-1 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.diagram_2 .paragraph-2 {
    margin-bottom: 180px;
}

.section-team {
    height: 666px;
    background-image: url("../images/bg-team.png");
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 870px;
    margin: 60px auto 70px;
}

.team-members div {
    width: 271px;
    height: 338px;
}

.team-members [class^="poster_"] {
    /* display: none; */
    
}

.team-members [class^="poster_"]:hover {
    display: inline-block;
    cursor: pointer;
    width: 256px;
    height: 320px;
    background: rgba(237, 237, 237, 0.7);
    margin: 9px auto;
}

.photo_1 {
    background-image: url("../images/member-1.png");
}

.photo_2 {
    background-image: url("../images/member-2.png");
}

.photo_3 {
    background-image: url("../images/member-3.png");
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1045px;
}

.btn-group-2 input[type="button"] {
    height: 30px;
    width: auto;
    padding: 0 20px;
}

.examples {
    
    height: 687px;
    background-color: #222222;
}

.section-prices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 920px;
}

.price-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.price-cards article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 370px;
    height: 550px;
    color: #3e3d3d;
    text-align: center;
}

.price-cards div {
    width: 232px;
    height: 50px;
    margin: 25px auto;
}

h2 {
    font-size: 1.1em;
}

.price-cards .element_1 {
    background-image: url("../images/element_1.png");
}

.price-cards .element_2 {
    background-image: url("../images/element_2.png");
}

.price-cards .element_3 {
    background-image: url("../images/element_3.png");
}

sup {
    font-size: 50%; 
}

strong {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 140px;
    text-align: left;
}

.price-cards input[type="button"] {
    border: 2px solid #3e3d3d;
    color: #3e3d3d;
    width: 130px;
    height: 40px;
    margin: 40px auto;
}

.price-cards input[type="button"]:hover {
    cursor: pointer;
    background: #3e3d3d;
    color: white;
}

i {
    text-align: center;
    white-space: pre-line;
    line-height: 250%;
    font-size: 80%;
}

.looking-for-a-quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 175px;
    background-color: #2d2d2f;
    color: #979797;
}

.compass {
    background-image: url("../images/compass-2.png");
    width: 109px;
    height: 104px;
}

.column {
    width: 720px;
    padding-left: 60px;
}

.column h2 {
    font-size: 1.2em;
    padding-bottom: 15px;
}

.column p {
    text-align: left;
    color: #979797;
    line-height: 150%;
}


input[name="button-purchase"] {
    background: none;
    color: #979797;
    border: 2px solid #979797;
    width: 132px;
    height: 35px;
    margin-right: 15px;
}

.section-blog {
    height: 1114px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-blog p {
    padding-bottom: 80px;
}

.bg_gallery {
    background-color: #2d2d2f;
    height: 822px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 822px;
    width: 1600px;
}

.gallery div {
    width: 400px;
    height: 411px;
    margin: 0 auto;
}

.gallery .img_1 {
    background-image: url("../images/img_1.png");
}

.gallery .img_2 {
    background-image: url("../images/img_2.png");
}

.gallery .img_3 {
    background-image: url("../images/img_3.png");
}

.gallery .img_4 {
    background-image: url("../images/img_4.png");
}

.gallery .text_1 {
    background-color: #2d2d2f;
}

.gallery .text_2 {
    background-color: #555557;
}

.gallery .text_3 {
    background-color: #555557;
}

.gallery .text_4 {
    background-color: #2d2d2f;
}

.section-clients {
    height: 522px;
    background-color: #fff;
}

.partners {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px auto;
}

.partners .img_1 {
    background-image: url("../images/mg1.png");
    width: 133px;
    height: 102px;
}

.partners .img_2 {
    background-image: url("../images/mg2.png");
    width: 137px;
    height: 90px;
}

.partners .img_3 {
    background-image: url("../images/mg3.png");
    width: 136px;
    height: 109px;
}

.partners .img_4 {
    background-image: url("../images/mg4.png");
    width: 116px;
    height: 116px;
}

.partners .img_5 {
    background-image: url("../images/mg5.png");
    width: 129px;
    height: 110px;
}

.section-testmon {
    background-image: url("../images/bg-testmon.png");
    height: 524px;
}

.section-map {
    background-color: #ebebeb;
    height: 515px;
    width: 100%;
}

.map {
    background-image: url("../images/map.png");
    height: 515px;
    width: 1600px;
    margin: 0 auto;
}

footer {
    background-image: url("../images/footer.png");
    height: 645px;
}